/services/dms/certs/fullchain.pem
/services/dms/certs/privkey.pem
/configs/env/beta.env
/configs/env/common.env
/configs/env/delta.env
/configs/env/gamma.env
/configs/env/kiku.env
/services/dms/maildata/
/data/
/box_config.json
/services/dms/config/postfix-accounts.cf
/Makefile
/services/dms/services/dovecot-quotas.cf
/services/dms/services/postfix-accounts.cf
/services/dms/config/dovecot-quotas.cf
/configs/agents.yaml
/services/dms/docker-compose.yml
/services/dms/config/postfix-sender-access.cf
/services/dms/config/postfix-transport.cf
/memory/
